* {
  font-family: "Literata", serif;
}

.container-btn-mode{
  position: absolute;
  top: 20px;
  right: 30px;
  cursor: pointer;
  z-index: 2;
  font-size: 0;
}

.btn-mode{
  border: 2px solid black;
  width: 50px;
  height: 30px;
  display: inline-block;
  transition: background-color .5s;
}

.btn-mode i{
  display: block;
  font-size: 17px;
  text-align: center;
  line-height: 30px;
}

.btn-mode.sun{
border-top-left-radius: 20px;
border-bottom-left-radius: 20px;
border-right: 1px solid transparent;
}

.btn-mode.moon{
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
} 

.active {
  background-color: black;
  color: #ffcd5c !important;
}

.body {
  background-color: #2c93f3;
  background-size: cover;
  width: 70%;
  margin: auto;
  height: 100%;
}

.container {
  background-color: #2c93f3;
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  border: 5px solid black;
  border-radius: 20px;
  margin: 60px 0;
}

h1 {
  font-size: 40px;
  letter-spacing: 2px;
  font-weight: bold;
  color: white;
}

.name_title{
  margin: 0;
  text-transform: uppercase;
}

.container_header {
  height: inherit;
  width: inherit;
  margin: 0 0 30px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}

.container_header input {
  margin: 20px;
  width: 80%;
  height: 50px;
  border: none;
  outline: none;
  border-radius: 10px;
  font-weight: bold;
  background-color: rgba(44, 147, 230, 0.5);
  border-bottom: 4px solid white;
  animation: shakeY;
  animation-duration: 0.5s;
  padding-left: 30px;
  font-size: 20px;
}

.container_header input::placeholder {
  color: white;
  padding-left: 20px;
  font-size: 15px;
  letter-spacing: 2px;
}

.container_header input:focus {
  background-color: white;
}

.container_header button {
  width: 80%;
  height: 40px;
  font-weight: bold;
  letter-spacing: 2px;
  font-size: 20px;
  border: none;
  border-radius: 40px;
  outline: none;
  cursor: pointer;
}

.container_header button:hover {
  animation: rubberBand;
  animation-duration: 0.2s;
}

.container_task {
  height: 100%;
  width: 100%;
  margin: 20px;
  border: 5px solid black;
  border-bottom: none;
  margin-bottom: 0;
  border-radius: 20px;
  background-color: #ffeaa7;
}

.list_task {
  margin: 0;
  padding: 10px 20px;
}

.list_task li {
  display: flex;
  margin: 15px 0;
  padding: 0 20px;
  border: 5px solid black;
  height: 95px;
  border-top: none;
  font-weight: bold;
  
  
}


.list_task p {
  width: 640px;
  flex-wrap: wrap;
  height: 80px;
  font-size: 25px;
}

.list_task li button {
  height: 30px;
  margin: auto 15px;
  border: 1px solid black;
  border-radius: 5px;
  width: 90px;
  color: black;
  font-weight: bold;
  cursor: pointer;
}

.complete{
  background:  green !important;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
}


.dark-mode{
  background-color: #0e0e0e;
  transition: background-color .5s;
  color: white;
}

.dark-mode .btn-mode{
  background-color:#1A1C1E;
  border:1px solid white;
  color:white;
}


.dark-mode input {
  margin: 20px;
  width: 80%;
  height: 50px;
  border: none;
  outline: none;
  border-radius: 10px;
  font-weight: bold;
  background-color:#1A1C1E;
  border-bottom: 4px solid white;
  animation: shakeY;
  animation-duration: 0.5s;
  padding-left: 30px;
  font-size: 20px;
}

.dark-mode input::placeholder {
  color: black;
  padding-left: 20px;
  font-size: 15px;
  letter-spacing: 2px;
}

.delete{
  display: none;
}